---
layout: default
---

<div class="home">

  <p><h1>Posts</h1></p>
  
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.categories }}</span> / 
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  
  <div class="pagination">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous Page</a>
      
      {% endif %}
      <span class="page_number ">{{ paginator.page }} / {{ paginator.total_pages }}</span>
      
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next Page</a>
      {% endif %}
  </div>

</div>
